<section id="cv">
    <div class="container">
        <h2><strong>Education and Experience</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5><strong>Bachelor of Science</strong> </h5>
                        <em class="font-italic">Software Development <br> Western Governors University</em>
                        <p class="year p-2 d-flex justify-content-center">2020-2022 (est. grad)</p>
                    </li>
                    <li>
                      <h5>CompTIA Project+ Certification</h5>
                  </li>
                  <li>
                    <h5>CompTIA A+ Certification</h5>
                </li>
                <li>
                  <h5>ITILV4 Foundation Certification</h5>
              </li>
                    <li>
                        <h5>Associate of Applied Science</h5>
                        <em class="font-italic">Robotics and Automation Technology <br> Jefferson College</em>
                        <p class="year p-2 d-flex justify-content-center">2007-2009</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">

                <h4><strong>Experience</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Student Web Developer </h5>
                        <em>CodeFi - Code Labs - Cape Girardeau, MO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Sep 2021 - Current</p>
                            <button (click)="detailOnClick('codefi_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="codefiIsShown">

                            <strong>Front-end Web Development: </strong>Developing single page applications with the Angular framework.<br>

                            <strong>Technologies:</strong> Angular, Bootstrap, Javascript, CSS, npm<br>

                            <strong>Back-end Web Development: </strong>Ruby and rails development.


                        </p>
                    </li>
                    <li>
                        <h5>Automation Engineer</h5>
                        <em>Express Scripts - Saint Louis, MO</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Dec 2017 - current</p>
                            <button (click)="detailOnClick('expressScripts_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="expressScriptsIsShown">
                            <li>Provide high-level technical support to an automated pharmacy on a ongoing basis.</li>
                            <br>
                            Install, troubleshoot and repair automated processes to include: database, networking, applications, PLC programming, electronic, and electrical controls.

                        </p>
                    </li>
                </ul>
            </div>


            </div>

        </div>

</section>
